.delete {
  width: 15px;
  height: 15px;
  padding: 1px 5px;
  background: paleturquoise;
  color: orange;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noteLine {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #e0e0e0;
  height: 21px;
  width: 400px;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 10px;
  font-family: sans-serif;
}
